<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app requires access to your microphone to allow you to record audio.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to your photo library to allow you to upload and manage photos.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app requires access to your camera to allow you to take photos and record videos.</string>
	<key>NSUserActivityTypes</key>
	<array/>
</dict>
</plist>
